.top-part {
    height: 20vh;
    margin-bottom: 1rem;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .app__cover-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  
  .cover-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    filter: blur(2px);
  }