
.create-account {
  cursor: pointer;
}

.google-sign-in-logo {
  // width: 10rem;
  height: 3rem;
}

.sign-in__form {
  max-height: 60vh;
}

.display-5 {
  font-size: $display-5;
}

.display-6 {
  font-size: $display-6;
}

.heading, .title {
  transition: all .2s ease-in;
}

.input-height {
  height: 2rem !important;
}

.create-account {
  font-weight: 600;
}