.home-form-card {
  height: 60vh;
}

.file-container {
  padding: 10px 5px;
  overflow: hidden;
}

.form {
  &__container {
    height: 100%;

    form {
      height: inherit;
    }
  }
}

.chip {
  padding: 0 15px;
  margin-bottom: 10px;
  height: 25px;
  font-size: 10px;
  border-radius: 50px;
  background-color: #f1f1f1;

  &__filename {
    width: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__more-files {
    cursor: pointer;
  }
}

.closebtn {
  color: #888;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.closebtn:hover {
  color: #000;
}

.file-container__separator {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $color-grey-light;
}
