.home-form-card {
  height: 60vh;
}

.file-container {
  padding: 1rem 0.5rem;
  overflow: hidden;

  &__separator {
    width: 100%;
    height: 2px;
    padding: 0;
    margin: 0;
    background-color: $color-grey-light;
  }
}

.chips__and__form {
  height: 100%;
}

.form {
  &__container {
    height: 100%;

    form {
      height: inherit;
    }
  }
}

.chip {
  padding: 0 15px;
  height: 25px;
  font-size: 10px;
  border-radius: 50px;
  background-color: #f1f1f1;

  &__filename {
    width: 60px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__more-files {
    cursor: pointer;
  }
}

.closebtn {
  color: #888;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.closebtn:hover {
  color: #000;
}

.dropzone__section {
  position: relative;
  background-color: $color-grey-light-1;
}

.dropzone__main {
  position: relative;
  height: 100%;
  width: 100%;
}

.dropzone__text {
  position: absolute;
  font-size: 20px;
}

.dropzone__icon {
  position: absolute;
  text-align: center;
  transition: all 0.5s;
}
