.main-box {
  @include box;
}

.errorDialog {
  padding: 1rem 0 1rem 1rem;
  background-color: #ff8a80;
  box-shadow: 0 0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}


.cross-button {
    position: absolute;
    right: .8%;
    top: -1%;
    color: #888;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;

    &:hover {
        color: black;
        
    }
}
