
.paper-plane-icon {
  cursor: pointer;
}

.settings {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  
  &:hover {
    transition: all 0.2s ease-in;
    transform: rotate(-20deg);
  }

  &:not(:hover) {
    transition: all 0.2s ease-in;
    transform: rotate(20deg);
  }
}

h2, h3, .h1 {
  color: $body-text-color;
}
