// $color-primary: rgba(27, 101, 246, 1);
$color-primary: #1a86eb;
$color-grey-light: #cce2f3;
$color-grey-light-1: #c1d1ddd0;
$color-dark: #0c0c0c;
$danger-color: #d0152e;
$body-text-color: #f7f1f1fa;
$header-height: 50px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$display-5: 20px;
$display-6: 12px;

//  z-indices
$z-index-settings-panel: 2000

